<h1>Add product</h1>
<hr>

<form>
    <div class="row g-3 align-items-center mb-3">
        <div class="col-auto">
            <label>Name:</label>
        </div>

        <div class="col-auto">
            <input type="text" class="form-control">
        </div>

        <div class="col-auto">
            <span>Some random information</span>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary">
                Change color
            </button>
        </div>
    </div>
</form>